:root {
  --color-brand: #e01d3f;
}

.Notifications {
  padding: 50px;
  border: 3px dashed var(--color-brand);
}

.Notifications button img {
  width: 20px;
}

[data-notification-type="default"] {
  color: #210a61;
}

[data-notification-type="urgent"] {
  color: #e01d3f;
}
